<!DOCTYPE html>
<html lang="jp">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>done-選択表示チェッカー</title>
    <link rel="stylesheet" type="text/css" href="/css/style.css" />
</head>
<body>
    <header class="header">
        <h1><a href="/">洗濯表示チェッカー</a></h1>
    </header>
    
    <div class="done-content">
    <h2>お問い合わせフォームの送信が完了しました</h2>
    <p>本フォームにて送信いただいたお問合せについては、原則３日以内にご返信差し上げます。４日以上経過しても返信がない場合には、大変お手数ですが再度フォームからご連絡いただけますと幸いです。</p>
    <a href="/">HOMEへ戻る</a>
    </div>

    <footer class="about-footer">
        <h2>洗濯表示チェッカー</h2>
        <ul class="about-ul">
          <li><a href="/">> HOME</a></li>
          <li><a href="/about">> ABOUT</a></li>
          <li><a href="/privacy">> プライバシーポリシー</a></li>
          <li><a href="/disclaimer">> 免責事項</a></li>
          <li><a href="/mail">> お問い合わせ</a></li>
        </ul>
    </footer>
</body>
</html>